.field
  = f.label :username, t('views.channels._form_template_based_sip.label.username')
  = f.text_field :username, :autocomplete => 'off'
.field
  = f.label :password, t('views.channels._form_template_based_sip.label.password')
  = f.password_field :password, :value => @channel.config['password'], :autocomplete => 'off'
.field
  = f.label :number, t('views.channels._form_template_based_sip.label.number')
  = f.text_field :number
.field
  = f.label :limit
  = f.text_field :limit

  = f.hidden_field :kind
