.field
  = f.label :token, t('views.channels._form_voxeo.label.token')
  = f.text_field :token
.field
  = f.label :url, t('views.channels._form_voxeo.label.url')
  = f.text_field :url
.field
  = f.label :limit
  = f.text_field :limit
