- config = Rails.configuration.voxeo_configuration[:http_url_options]
%p
  = "#{t('views.channels._show_voxeo.label.use_this_url')}:"
  %br
  = "http://#{config[:host]}:#{config[:port]}/?channel_guid=#{channel.guid}"