<%= select_tag('new_channel', options_for_select(@channel_kinds), :onchange => 'create_channel(this)') -%>

<br/>

<% if @channels.present? %>
  <br/>
  <table class="GralTable">
    <tr>
      <th><%= t('views.channels.index.label.name') %></th>
      <th><%= t('views.channels.index.label.call_flow') %></th>
      <th><%= t('views.channels.index.label.kind') %></th>
      <th></th>
    </tr>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <td><%= channel.call_flow.try(:name) %></td>
        <td><%= channel.kind %></td>
        <td>
          <%= link_to t('views.channels.index.action.view'), channel_path(channel) %>
          <%= link_to t('views.channels.index.action.queued_calls'), channel_queued_calls_path(channel), :class => 'fancybox' %>
          <%= link_to "#{t('views.channels.index.action.call')}...", call_channel_path(channel), :class => 'fancybox' %>
          <%= link_to t('views.channels.index.action.edit'), edit_channel_path(channel) %>
          <%= link_to t('views.channels.index.action.delete'), channel_path(channel), :confirm => "#{t('views.channels.index.action.confirm_delete')} #{channel.name}?", :method => :delete %>
        </td>
      </tr>
    <% end %>
  </table>

  <script type="text/javascript">
    $(function() {
      $('.fancybox').fancybox({autoDimensions: false, width: 600, height: 400});
    });
  </script>
<% end %>

<br />
