:javascript
  $(function(){
    $('.download-zip').fancybox();
  });

%h2= t('views.call_logs.download_project_call_log.label.download_call_logs')
%hr/

%p
  %span= t('views.call_logs.download_project_call_log.label.summary', audios: CallLogRecordedAudio.where(call_log_id: @logs).count, size: number_to_human_size(@logs.audios_size))
%p
  %span= t('views.call_logs.download_project_call_log.label.do_you_want_to_download')

.action
  = link_to t('views.call_logs.download_project_call_log.action.yes_csv_and_voice'),
     generate_zip_project_call_logs_path(search: @search), class: %w(button white download-zip)
  = link_to t('views.call_logs.download_project_call_log.action.no_only_csv'),
      download_project_call_logs_path(format: :csv, search: @search), class: %w(button white)
