= render :partial => 'call_logs/tabs'

%p
  = t('views.call_logs.index.label.desc')
%form
  %p
    = t('views.call_logs.index.label.search') #{text_field_tag :search, @search, :size => 80, :class => (@search.present? ? 'highlighted' : '')}
  %p
    = link_to t('views.call_logs.index.action.download_csv'), download_call_logs_path(:format => :csv, :search => @search), :class => "button fimport"
  %div= page_entries_info @logs, :entry_name => t('views.call_logs.index.label.call_log')
  = will_paginate @logs, :param_name => 'page'
  - if @logs.present?
    %br/
    %table.GralTable
      %tr
        %th= t('views.call_logs.index.label.id')
        %th= t('views.call_logs.index.label.started')
        %th= t('views.call_logs.index.label.finished')
        %th= t('views.call_logs.index.label.duration')
        %th= t('views.call_logs.index.label.caller_id')
        %th= t('views.call_logs.index.label.direction')
        %th= t('views.call_logs.index.label.channel')
        %th= t('views.call_logs.index.label.queue')
        %th= t('views.call_logs.index.label.project')
        %th= t('views.call_logs.index.label.call_flow')
        %th= t('views.call_logs.index.label.state')
        %th
      - @logs.each do |log|
        %tr
          %td= log.id
          %td= raw time_ago log.created_at
          %td= raw time_ago log.finished_at
          %td= distance_of_time_in_words(log.finished_at, log.created_at, true) if log.finished_at
          - if log.address.present?
            %td= link_to log.address, call_logs_path(:search => "caller:#{log.address}")
          - else
            %td= log.address
          %td= log.direction
          %td= log.channel.try(:name)
          %td= log.schedule.try(:name)
          %td= log.project.try(:name)
          %td= log.call_flow.try(:name)
          %td
            = log.state
            - if log.fail_reason.present?
              = "(#{log.fail_reason})"
          %td= link_to t('views.call_logs.index.action.view_details'), call_log_path(log)
    %br/
    %div= page_entries_info @logs, :entry_name => t('views.call_logs.index.label.call_log')
    = will_paginate @logs, :param_name => 'page'
%br/
