<p><%= t('views.call_logs.index.label.call_with') %> <%= @log.address %> <%= t('views.call_logs.index.label.from_channel') %> <%= @log.channel.name %> (<%= @log.state %>)</p>
<br />

<table class="GralTable">
  <tr>
    <th><%= t('views.call_logs.index.label.severity') %></th>
    <th><%= t('views.call_logs.index.label.when') %></th>
    <th><%= t('views.call_logs.index.label.text') %></th>
  </tr>
  <% @log.structured_details.reverse.each do |detail| %>
    <tr class="<%= detail[:severity] %>">
      <td><%= detail[:severity] %></td>
      <td><%= detail[:time] %></td>
      <td><%= short_html detail[:text], 40 %></td>
    </tr>
  <% end %>
</table>

<% if @log.state == :completed || @log.state == :failed %>
  <script type="text/javascript">
    window.call_finished = true;
  </script>
<% end %>
