<h2><%= t('views.call_logs.show.label.title') %></h2>

<table class="GralTable">
  <tr>
    <td><b><%= t('views.call_logs.show.label.not_before') %>:</b></td>
    <td><%= @log.not_before %></td>
  </tr>
  <tr>
    <td><b><%= t('views.call_logs.show.label.started') %>:</b></td>
    <td><%= @log.created_at %></td>
  </tr>
  <tr>
    <td><b><%= t('views.call_logs.show.label.finished') %>:</b></td>
    <td><%= @log.finished_at %></td>
  </tr>
  <tr>
    <td><b><%= t('views.call_logs.show.label.duration') %>:</b></td>
    <td><%= distance_of_time_in_words(@log.finished_at, @log.created_at, true) if @log.finished_at %></td>
  </tr>
  <tr>
    <td><b><%= t('views.call_logs.show.label.caller_id') %>:</b></td>
    <td><%= @log.address %></td>
  </tr>
  <tr>
    <td><b><%= t('views.call_logs.show.label.direction') %>:</b></td>
    <td><%= @log.direction %></td>
  </tr>
  <tr>
    <td><b><%= t('views.call_logs.show.label.channel') %>:</b></td>
    <td><%= @log.channel.try(:name) %></td>
  </tr>
  <tr>
    <td><b><%= t('views.call_logs.show.label.queue') %>:</b></td>
    <td><%= @log.schedule.try(:name) %></td>
  </tr>
  <tr>
    <td><b><%= t('views.call_logs.show.label.project') %>:</b></td>
    <td><%= @log.project.try(:name) %></td>
  </tr>
  <tr>
    <td><b><%= t('views.call_logs.show.label.state') %>:</b></td>
    <td><%= @log.state %></td>
  </tr>
  <tr>
    <td><b><%= t('views.call_logs.show.label.fail_reason') %>:</b></td>
    <td><%= @log.fail_reason %></td>
  </tr>
</table>

<br />

<p>
  <%= link_to t('views.call_logs.show.action.download_csv'), download_details_call_log_path(@log, :format => :csv), :class => "button fimport"  %>
</p>

<table class="GralTable">
  <tr>
    <th><%= t('views.call_logs.show.label.severity') %></th>
    <th><%= t('views.call_logs.show.label.when') %></th>
    <th><%= t('views.call_logs.show.label.text') %></th>
  </tr>
  <% @log.structured_details.each do |detail| %>
    <tr class="<%= detail[:severity] %>">
      <td><%= detail[:severity] %></td>
      <td><%= detail[:time] %></td>
      <td><%= short_html detail[:text], 40 %></td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to t('views.call_logs.show.action.back'), call_logs_path %>
