.homepage
  .right
    .illustration
    %a.button.fpdf.right{:href => "/docs/instedd-verboice.pdf", :target=>"_blank"}
      = "#{t('views.home.download_brochure')} (480 KB)"
  %h1.home= t('views.home.listen_and_response')
  %p.sub= t('views.home.listen_and_response_sub')
  %p= t('views.home.listen_and_response_body')

  %br/
  %br/
  %br/
  %br/
  %br/
  - if current_account
    %p
      = "#{t('views.home.get_started')}:"
      =link_button_to t('views.home.view_your_project'), projects_path, :class => "orange"
    %p
  - else
    %p
      = "#{t('views.home.get_started')}:"
      = link_button_to t('views.home.create_an_account'), new_account_registration_path, :class => "orange"
    %p
    %p
      = t('views.home.already_a_member')
      = link_to t('views.home.log_in'), new_account_session_path
  .clear
  / #container
  .home-middle-bar
    .benefits
      %ul#benefits-container
        %li
          %span.i48grad-language.left
          %h3= t('views.home.overcome')
          %p= t('views.home.literacy_barriers_with_verbal_communication')
          %br{:clear => "all"}/
        %li
          %span.i48grad-sound.left
          %h3= t('views.home.create')
          %p= t('views.home.voice_based_programs_without_coding')
          %br{:clear => "all"}/
        %li
          %span.i48grad-scale.left
          %h3= t('views.home.scales')
          %p= t('views.home.to_suit_your_needs')
          %br{:clear => "all"}/
        %li
          %span.i48grad-computer.left
          %h3= t('views.home.generate')
          %p= t('views.home.project_using_any_computer_with_internet_access')
          %br{:clear => "all"}/
        %li
          %span.i48grad-users.left
          %h3= t('views.home.reach')
          %p= t('views.home.out_to_any_community_anywhere_there_access_to_basic_phones')
          %br{:clear => "all"}/
        %li
          %span.i48grad-shred.left
          %h3= t('views.home.api')
          %p= t('views.home.based_on_standards')
          %br{:clear => "all"}/
        %li
          %span.i48grad-free.left
          %h3= t('views.home.free')
          %p= t('views.home.for_anyone_to_use_to_help_increase_their_social_impact')
          %br{:clear => "all"}/
        %li
          %span.i48grad-openSource.left
          %h3= t('views.home.open_source')
          %p= t('views.home.code_for_developers_to_use_to_improve_its_design_and_functionality')
          %br{:clear => "all"}/
      / #benefits-container
    / #benefits
  / #home-middle-bar
  #container
    %h1= t('views.home.container_first_title')
    %p.desc
      = t('views.home.container_first_desc')
    .left.w45
      %h2= t('views.home.container_first_panel_first_title')
      .icon-container.left
        %span.i96grad-medicine
      %p= t('views.home.container_first_panel_first_desc')
    / #left w45
    .right.w45
      %h2= t('views.home.container_first_panel_second_title')
      .icon-container.left
        %span.i96grad-pieChart
      %p= t('views.home.container_first_panel_second_desc')
    / #left w45
    .clear
    / #clear
    %br/
    .left.w45
      %h2= t('views.home.container_first_panel_third_title')
      .icon-container.left
        %span.i96grad-fire
      %p= t('views.home.container_first_panel_third_desc')
    / #left w45
    .right.w45
      %h2= t('views.home.container_first_panel_fourth_title')
      .icon-container.left
        %span.i96grad-tree
      %p= t('views.home.container_first_panel_fourth_desc')
    / #left w45
    .clear
    / #clear
    %br/
    .box.plain.grey.features

      %h2= t('views.home.container_features_title')
      %br
      .left.w45
        %div
          %span.r-arrow>
          = t('views.home.container_features_point_one')
        %div
          %span.r-arrow>
          = t('views.home.container_features_point_two')
        %div
          %span.r-arrow>
          = t('views.home.container_features_point_three')


      / #left w45
      .right.w45
        %div
          %span.r-arrow>
          = t('views.home.container_features_point_four')
        %div
          %span.r-arrow>
          = t('views.home.container_features_point_five')
        %div
          %span.r-arrow>
          = t('views.home.container_features_point_six')
        %div
          %span.r-arrow>
          = t('views.home.container_features_point_senven')
      / #right w45
      .clear
      / #clear
    / #box plain grey
    %br/
    %br/
    .w45.left
      %h1= t('views.home.container_second_title')

      %p= t('views.home.container_second_desc')
    / #w45 left
    .w45.right
      = image_tag 'infographic.png', :localized => true
    / #w45 right
    .clear
    / #clear
    %br/
    %br/
    #container
    %h1= t('views.home.container_third_title')

    .left.w45
      %h2= t('views.home.container_third_panel_first_title')
      .icon-container.left
        %span.i96-council
      %p
        = t('views.home.container_third_panel_first_desc')
        = link_to "http://www.babymonitor.co/", "http://www.babymonitor.co/"
    / #left w45
    .right.w45
      %h2= t('views.home.container_third_panel_second_title')
      .icon-container.left
        %span.i96-cross
      %p= t('views.home.container_third_panel_second_desc')
    / #left w45
    .clear
    / #clear

    %br/
    %hr/
    %div.w45.support
      %h2
        = t('views.home.container_fouth_title')
      %span
      %p
        = t('views.home.container_fourth_suggestion_features_request')
        %br
        %a.button.black.fchat{:href=>"https://groups.google.com/group/instedd-tech"}
          %span= t('views.home.container_fourth_join_our_discussion_list')


      %p
        = t('views.home.container_fourth_get_code_as_developer')
        %br
        %a.button.black.fbulb{:href=>"https://bitbucket.org/instedd/verboice/issues?status=new"}
          %span= t('views.home.container_fourth_our_backlog')



    .clear
    / #clear
