:javascript
  $(function(){
    allowKeyInput($("#search"), /[0-9\+]/);
  });

= render 'shared/project_tabs_and_title', :project => @project

%h2= t('views.contacts.index.title')
%p.desc= t('views.contacts.index.desc')

.ux-collapsible.collapsed.w40.file_upload{"data-on-expanded" => "box grey"}
  %span
    %a.button.fconfiguration{:href => "#"}= t('views.contacts.index.action.manage_phone_book_columns')
  .ux-content
    = form_for(@project, :url => update_variables_project_path(@project)) do |f|
      %hr
      %ul.oplist
        = f.fields_for :project_variables do |builder|
          = render 'project_variable_fields', :f => builder
        .add_project_variable
          .ux-optext{class: 'w30', style: 'display: inline-block;'}
            = t('views.contacts.index.label.add_new_variable')
          = link_to_add_fields '', f, :project_variables, :class => 'button clist-add'
      %hr
      .right
        %button.white{:type => "submit"}= t('views.contacts.index.action.confirm')
        %a.button.white.cancel.ux-collapse-trigger= t('views.contacts.index.action.cancel')
      .clear

%br
%br

%div= page_entries_info @contacts
= will_paginate @contacts, :param_name => 'page'

%form
  %p
    = t('views.call_logs.index.label.search')
    = text_field_tag :search, @search, :size => 80, placeholder: "#{t('views.contacts.index.label.phone_number')}", :class => (@search.present? ? 'highlighted' : '')
  %p

.tablewrapp.no-wrap.scroll
  %table.GralTable
    %tr
      %th{colspan: 2} Phone number
      - @implicit_variables.each do |variable|
        %th=variable.key
      - @project_variables.each do |variable|
        %th=variable.name

    - @contacts.each do |contact|
      %tr.link{'data-url' => edit_contact_path(contact)}
        %td= addresses_for_contact(contact)
        %td.right= link_to '', contact, :confirm => t('views.contacts.index.action.confirm_delete'), :method => :delete, :class => 'button premove'
        - @implicit_variables.each do |implicit_variable|
          - variable = contact.persisted_variables.detect{|v| v.implicit_key == implicit_variable.key}
          %td= variable.try(:value)
        - @project_variables.each do |project_variable|
          - value = nil
          - contact.persisted_variables.each do |variable|
            - if variable.project_variable == project_variable
              - value = variable.try(:value)
          %td= value
%br

%div= page_entries_info @contacts
= will_paginate @contacts, :param_name => 'page'

= link_to t('views.contacts.index.action.new_contact'), new_project_contact_path(@project), :class => 'cadd'
