- content_for :head do
  :javascript
    when_text = "#{t('views.ext.reminder_schedules.label.when')}"
    and_text = "#{t('views.ext.reminder_schedules.label.and')}"

  :css
    .ux-datepicker { background-color: white }

= render 'shared/project_tabs_and_title', :project => @project

%h2= t('views.ext.reminder_schedules.title')
%p.desc= t('views.ext.reminder_schedules.desc')



#reminder_schedules-main.hidden-until-loaded
  <!-- ko foreach: reminder_schedules -->
  <!-- ko if: $data != $root.currentReminderSchedule() -->
  .box.collapsed.collapsible_crud_box.grey.w60
    .toptitle{ko(css:{warning: '!valid()'})}
      = t('views.ext.reminder_schedules.label.call_all_contacts_in')
      %span{ko(text: 'reminder_group_name()')}
      = t('views.ext.reminder_schedules.label.reminder_group').downcase
      %br/
      %span{ko(text: :conditions_description)}
      = t('views.ext.reminder_schedules.label.with')
      %span{ko(text: 'call_flow_name()')}
      = t('views.ext.reminder_schedules.label.call_flow').downcase
      = t('views.ext.reminder_schedules.label.using')
      %span{ko(text: 'channel_name()')}
      = t('views.ext.reminder_schedules.label.channel').downcase
      %span.title{ko(text: :name)}
    .rightbuttons
      %button.fdelete{ko(click: '$root.deleteReminderSchedule')}
    .bottom
      %button.farrow.collapse_trigger{ko(click: '$root.editReminderSchedule')}= t('views.ext.reminder_schedules.action.edit')
  <!-- /ko -->
  <!-- ko if: $data == $root.currentReminderSchedule() -->
  .box.collapsible_crud_box.expanded.grey.w60

    %p
      %label{ko(css: {error: :reminder_group_error}), :for => :reminder_group}= t('views.ext.reminder_schedules.label.reminder_group')
      %br/
      %select.w30{ko(css: {error: :reminder_group_error}, options: '$root.reminder_groups', optionsText: "'name'", value: :reminder_group, optionsCaption: "'#{t('views.ext.reminder_schedules.label.select_reminder_group')}'")}


    .w30
      %label{ko(css: {error: :channel_error}), :for => :channel}= t('views.ext.reminder_schedules.label.channel')
    %ul.w30.list_item{ko(css: { :'list_item_border' => 'has_channel()==true' } ,  foreach: 'reminder_channels()' ) } 
      <!-- ko if: channel() -->
      %li
        %div.left-side{ko(text: 'channel().name()')}
        %button.clist-remove.right-side{ko(click: '$parent.removeReminderChannelByChannel')}  
        %div.clear
      <!-- /ko -->

    .w20{style:"margin-left:5px;"}
      <!-- ko if: new_channel_name_duplicated() -->
      %span.warning= t('views.ext.reminder_schedule.label.channel_exists')
      <!-- /ko -->
    %ul.clist.w30
      %li
        %input.ux-search.ui-autocomplete-input.ux-text{ ko(autocomplete: 'new_channel_name', value: 'new_channel_name', valueUpdate: 'afterkeydown'), type: :text, placeholder: "#{t('views.ext.reminder_schedules.label.add_channel')}", url: "/ext/projects/#{@project_id}/reminder_schedules/channels_autocomplete", minChar: 3}
        %button.clist-add{ko(disable: :new_channel_name_duplicated, click: 'addReminderChannelByChannel')}      

    %p
      %label{ko(css: {error: :call_flow_error}), :for => :call_flow}= t('views.ext.reminder_schedules.label.call_flow')
      %br/
      %select.w30{ko(css: {error: :call_flow_error}, options: '$root.call_flows', optionsText: "'name'", value: :call_flow, optionsCaption: "'#{t('views.ext.reminder_schedules.label.select_call_flow')}'")}

    %p
      %label{ko(css: {error: :start_date_error}), :for => :start_date}= t('views.ext.reminder_schedules.label.start_on')
      = t('views.ext.reminder_schedules.label.date_format')
      %br/
      %input.ux-datepicker.w20{ko(datePicker: :start_date, css: {error: :start_date_error}), html: {readonly: "readonly"}}

    %div
      %label= t('views.ext.reminder_schedules.label.call_time')
      = t('views.ext.reminder_schedules.label.time_format')
      <!-- ko if: call_time_error() -->
      %br/
      %label{ko(css: {error: :call_time_error})}= t('views.ext.reminder_schedules.label.from_must_be_less_than_to')
      <!-- /ko -->
      .condition
        .ux-nstep.w06
          %label{ko(css: {error: :from_time_error}), :for => :from_time}= t('views.ext.reminder_schedules.label.from')
          = ko_text_field_tag :from_time, css: {error: :from_time_error}, html: {class: 'ux-nstep w06', maxlength: '5'}
          %label{ko(css: {error: :to_time_error}), :for => :to_time}= t('views.ext.reminder_schedules.label.to')
          = ko_text_field_tag :to_time, css: {error: :to_time_error}, html: {class: 'ux-nstep w06', maxlength: '5'}

    %p
      %p.switch
        %label.repeat-field{:for => :repeat}= t('views.ext.reminder_schedules.label.repeat')
        %label{ko(click: 'repeat_enable', attr: { class: :repeat_enable_css })}
          %span
        %label{ko(click: 'repeat_disable', attr: { class: :repeat_disable_css })}
          %span
    .clear

    <!-- ko if: is_repeat() -->
    .condition
      <!-- ko if: days_error() -->
      %label.error= t('views.ext.reminder_schedules.label.please_select_at_least_one_day_to_apply')
      <!-- /ko -->
      %ul.days
        <!-- ko foreach: weekdays -->
        %li{ko(click: '$parent.day_selected', css: {no: '!selected()'})}
          %span{ko(text: :name)}
        <!-- /ko -->
      %br/
      %label{ko(css: {error: :recur_error}), for: :recur}= t('views.ext.reminder_schedules.label.every')
      = ko_number_field_tag :recur, css: {error: :recur_error}, html: {class: 'ux-nstep w06', maxlength: '2'}
      = t('views.ext.reminder_schedules.label.weeks')
    <!-- /ko -->

    %br/

    %label.w10= t('views.ext.reminder_schedules.label.conditions')
    <!-- ko foreach: conditions -->
    .w30.condition
      %table
        %tbody
          %tr.condition
            %td.w30.clickable{ko(click: '$parent.show_condition')}
              <!-- ko if: is_date_time() -->
              %span= t("views.ext.reminder_schedules.label.today")
              %span -
              <!-- /ko -->
              %span{ko(text: 'variable_name()')}
              %span{ko(text: 'operator_code()')}
              %span{ko(text: 'value_text()')}
              %span{ko(text: 'data_type_name()')}
            %td
              %button.clist-remove{ko(click: '$parent.remove_condition')}
    <!-- ko if: $data == $parent.current_condition() -->
    .condition
      .box.grey.noshadow.w30
        %p
          .w10{ko(css: {error: 'variable_error()'}), style: 'float:left;'}= t('views.ext.reminder_schedules.label.variable')
          %select.w20{ko(options: '$root.variables', optionsText: "'name'", value: :variable, css: {error: 'variable_error()'})}
          %br/
          %br/
          %select.w30{ko(options: '$root.operators', optionsText: "'name'", value: :operator, css: {error: 'operator_error()'})}
          %br/
          %br/
          = ko_number_field_tag :value, css: {error: 'value_error()'}, html: {class: 'ux-nstep w10'}
          %select.w10{ko(options: '$root.data_types', optionsText: "'name'", value: :data_type, css: {error: 'data_type_error()'})}
          %button.faccept{ko(visible: '!$parent.current_condition().error()', click: '$parent.close_condition_edition')}= t('views.ext.reminder_schedules.action.done')
    <!-- /ko -->
    <!-- /ko -->

    .w30.condition{ko(visible: '!current_condition()')}
      %table
        %tbody
          %tr.condition
            %td.w30
              %label= t('views.call_flows._branch_option_template.action.add_condition')
            %td
              %button.clist-add{ko(click: 'add_condition')}

    %p
      %p.switch
        %label.repeat-field{:for => :retries}= t('views.schedules._form.label.retries')
        %label{ko(click: 'retries_enable', attr: { class: :retries_enable_css })}
          %span
        %label{ko(click: 'retries_disable', attr: { class: :retries_disable_css })}
          %span
    .clear

    <!-- ko if: is_retries() -->
    .condition
      %label{ko(css: {error: :retries_error})}= t('views.schedules._form.label.retries_desc')
      %br/
      = ko_text_field_tag :retries_in_hours, css: {error: :retries_error}, html: {class: 'ux-nstep w30'}
    <!-- /ko -->

    %br/

    %hr

    %p
      %button.white{ko(click: '$root.saveReminderSchedule', enable: :valid), type: :button}= t('views.ext.reminder_schedules.action.save')
      %a.button.white.cancel{ko(click: '$root.cancelReminderSchedule'), href: 'javascript:void(0)'}= t('views.ext.reminder_schedules.action.cancel')

  <!-- /ko -->
  <!-- /ko -->

  .box.grey.w60.addqueue{ ko(visible: '!currentReminderSchedule()', click: 'newReminderSchedule'), style: 'display:none'}
    %span
      %a.add_field{href: 'javascript:void(0)'}= t('views.ext.reminder_schedules.action.new_reminder_schedule')
    %button.cadd.right
    %br{clear: 'all'}

%br