= render 'shared/project_tabs_and_title', :project => @project

%h2= t('views.ext.reminder_schedules.index.title')
%p.desc= t('views.ext.reminder_schedules.index.desc')

#reminder_schedules-main.hidden-until-loaded
  <!-- ko foreach: reminder_schedules -->
  <!-- ko if: $data != $root.currentReminderSchedule() -->
  .box.grey.w60{style: "margin-top: 10px;"}
    .toptitle
      Call all contacts in
      %span{ko(text: 'phone_book_group().name')}
      with
      %span{ko(text: 'call_flow().name')} call flow
      using
      %span{ko(text: 'channel().name')} channel
      %span.title{ko(text: :name)}
    .rightbuttons
      %button.fdelete{ko(click: '$root.deleteReminderSchedule')}
    .bottom
      %button.farrow.collapse_trigger{ko(click: '$root.editReminderSchedule')}= t('views.ext.reminder_schedules.index.action.edit')
  <!-- /ko -->
  <!-- ko if: $data == $root.currentReminderSchedule() -->
  %br/

  .box.w60
    %p
      %label{ko(css: {error: :phone_book_group_error}), :for => :phone_book_group}= t('views.ext.reminder_schedules.index.label.phone_book_group')
      %br/
      %select.w30{ko(css: {error: :phone_book_group_error}, options: '$root.phone_book_groups', optionsText: "'name'", value: :phone_book_group, optionsCaption: "'#{t('views.ext.reminder_schedules.index.label.select_phone_book_group')}'")}

    %p
      %label{ko(css: {error: :channel_error}), :for => :channel}= t('views.ext.reminder_schedules.index.label.channel')
      %br/
      %select.w30{ko(css: {error: :channel_error}, options: '$root.channels', optionsText: "'name'", value: :channel, optionsCaption: "'#{t('views.ext.reminder_schedules.index.label.select_channel')}'")}

    %p
      %label{ko(css: {error: :call_flow_error}), :for => :call_flow}= t('views.ext.reminder_schedules.index.label.call_flow')
      %br/
      %select.w30{ko(css: {error: :call_flow_error}, options: '$root.call_flows', optionsText: "'name'", value: :call_flow, optionsCaption: "'#{t('views.ext.reminder_schedules.index.label.select_call_flow')}'")}

    %p
      %label{ko(css: {error: :timezone_error}), :for => :timezone}= t('views.ext.reminder_schedules.index.label.time_zone')
      %br/
      = select_tag :timezone, time_zone_options_for_select(), 'data-bind' => kov(value: :timezone)

    %p
      %label{ko(css: {error: :start_date_error}), :for => :start_date}= t('views.ext.reminder_schedules.index.label.start_on')
      = t('views.ext.reminder_schedules.index.label.date_format')
      %br/
      %input.ux-datepicker.w20{ko(datePicker: :start_date, css: {error: :start_date_error})}

    %p
      %label= t('views.ext.reminder_schedules.index.label.call_time')
      %br/
      .ux-nstep.w06
        %label{ko(css: {error: :from_time_error}), :for => :from_time}= t('views.ext.reminder_schedules.index.label.from')
        = ko_number_field_tag :from_time, css: {error: :from_time_error}, html: {class: 'ux-nstep w06', maxlength: '5'}
        %label{ko(css: {error: :to_time_error}), :for => :to_time}= t('views.ext.reminder_schedules.index.label.to')
        = ko_number_field_tag :to_time, css: {error: :to_time_error}, html: {class: 'ux-nstep w06', maxlength: '5'}

    %p
      %label{:for => :repeat}= t('views.ext.reminder_schedules.index.label.repeat')
      %input{ko(checked: :repeat), type: :radio, name: 'recursion', value: '1'}= t('views.ext.reminder_schedules.index.label.yes')
      %input{ko(checked: :repeat), type: :radio, name: 'recursion', value: '0'}= t('views.ext.reminder_schedules.index.label.no')

    <!-- ko if: is_repeat() -->
    %p
      <!-- ko if: days_error() -->
      %label.error= t('views.ext.reminder_schedules.index.label.please_select_at_least_one_day_to_apply')
      <!-- /ko -->
      %ul.days
        <!-- ko foreach: weekdays -->
        %li{ko(click: '$parent.day_selected', css: {no: '!selected()'})}
          %span{ko(text: :name)}
        <!-- /ko -->
      %br/
      %label{ko(css: {error: :recur_error}), for: :recur}= t('views.ext.reminder_schedules.index.label.every')
      = ko_number_field_tag :recur, css: {error: :recur_error}, html: {class: 'ux-nstep w06'}
      = t('views.ext.reminder_schedules.index.label.weeks')
    <!-- /ko -->

    %label.w10= t('views.ext.reminder_schedules.index.label.conditions')
    <!-- ko foreach: conditions -->
    <!-- ko if: $data != $parent.current_condition() -->
    %table.GralTable.TwoColumn.CleanTable.NoHead.w30
      %tbody
        %tr
          %td.clickable{ko(click: '$parent.show_condition')}
            %span{ko(text: 'variable().name')}
            %span{ko(text: 'operator().name')}
            %span{ko(text: :value)}
          %td
            %button.clist-remove{ko(click: '$parent.remove_condition')}
    <!-- /ko -->
    <!-- ko if: $data == $parent.current_condition() -->
    .box.grey.noshadow.w30
      %p
        .w10{ko(css: {error: 'variable_error()'}), style: 'float:left;'}= t('views.ext.reminder_schedules.index.label.variable')
        %select.w20{ko(options: '$root.variables', optionsText: "'name'", value: :variable, optionsCaption: "'#{t('views.ext.reminder_schedules.index.label.select_variable')}'", css: {error: 'variable_error()'})}
        %br/
        %br/
        %select.w30{ko(options: '$root.operators', optionsText: "'name'", value: :operator, optionsCaption: "'#{t('views.ext.reminder_schedules.index.label.select_operator')}'", css: {error: 'operator_error()'})}
        %br/
        %br/
        = ko_number_field_tag :value, css: {error: 'value_error()'}, html: {class: 'ux-nstep w20'}
        %button.faccept{ko(visible: '!$parent.current_condition().error()', click: '$parent.close_condition_edition')}= t('views.ext.reminder_schedules.index.action.done')
    <!-- /ko -->
    <!-- /ko -->

    .w30{ko(visible: '!current_condition()')}
      = t('views.call_flows._branch_option_template.action.add_condition')
      %button.clist-add{ko(click: 'add_condition'), style: 'float:right; margin-right:8px;'}

    %p
      %button.white{ko(click: '$root.saveReminderSchedule', enable: :valid), type: :button}= t('views.ext.reminder_schedules.index.action.save')
      %a.tgrey{ko(click: '$root.cancelReminderSchedule'), href: 'javascript:void(0)'}= t('views.ext.reminder_schedules.index.action.cancel')

    %br/
  <!-- /ko -->
  <!-- /ko -->

  %br/

  .box.grey.w60{ ko(visible: '!currentReminderSchedule()', click: 'newReminderSchedule'), style: 'display:none'}
    %span
      %a.add_field{href: 'javascript:void(0)'}= t('views.ext.reminder_schedules.index.action.new_reminder_schedule')
    %button.cadd.right
    %br{clear: 'all'}

%br