= render 'shared/project_tabs_and_title', :project => @project

%h2= t('views.ext.reminder_schedules.index.title')
%p.desc= t('views.ext.reminder_schedules.index.desc')

- @project.ext_reminder_schedules.each do |ext_reminder_schedule|
  = render 'box', :'reminder_schedule' => ext_reminder_schedule, :expanded => ext_reminder_schedule.errors.any?

.box.grey.addqueue.w60
  %span
    = link_to_add_box :'ext/reminder_schedule', t('views.ext.reminder_schedules.index.action.new_reminder_schedule'), @project, :class => 'add_fields'
  %button.cadd.right{:onclick => "$('.add_fields').click();", :type => "button"}
  %br{clear: 'all'}

%br