<% content_for :head do %>
  <script text="javascript">
    $(function() {
      $(".email").on("keypress", function(e){
        if(e.which == 32) e.preventDefault(); // escape space character
      });
    });
  </script>
<% end %>

<div class="box centered w30">
  
<%= form_for(resource, :as => resource_name, :url => account_session_path) do |f| %>
  <%= devise_error_messages! %>
  <h2>Log In</h2>
  
  <hr class="shadow">
  
  <div class="field w30">
    <%= f.label :email %>
    <%= f.email_field :email, :class => "email" %>
  </div>

  <div class="field w30">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

    <div class="field">
      <input name="account[remember_me]" type="hidden" value="0">
      <input id="account_remember_me" name="account[remember_me]" type="checkbox" value="1"> <label class="checkbox" for="account_remember_me">Remember me</label>
    </div>

  <div class="actions">
    <button type="submit" class="white">Log In</button>
  </div>
  
  <hr>

<!--  -->

<!-- 
  <p>
    Don't have an account? <a href="/accounts/sign_up">Create it</a>
  </p>
 -->

  <p>
  Forgot your password? <a href="/accounts/password/new">Reset it</a>
  </p>

  <a href="/accounts/confirmation/new">Didn't receive confirmation instructions?</a><br>

<% end %>
</div>