- content_for :head do
  :javascript
    window.languages = #{languages_for_js};
    $(function(){
      $("input.datetimepicker").datetimepicker()
    })

- path = @reminder.new_record? ? ext_project_pregnancy_reminders_path(@project, @reminder): ext_project_pregnancy_reminder_path(@project, @reminder)  
= form_for([@project, @reminder], :url => path , :html => {:id => "form-reminder-schedule"} ) do |f|
  - content_for :start_calendar do
    = render "start", :model => @reminder, :f => f
  
  -if @reminder.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reminder.errors.count, "error")} #{t('views.ext.pregnancy_reminders._form.errors.prohibited')}:"
      %ul
        - @reminder.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, t('views.ext.pregnancy_reminders._form.label.name')
    = f.text_field :name, :class => 'w30'

  .field
    = f.label :call_flow_id
    = f.select :call_flow_id, @project.call_flows.map{ |call_flow| [call_flow.name, call_flow.id] }, {:prompt => t('views.ext.pregnancy_reminders._form.label.select_call_flow')},:class => "w30" 

  .field
    = f.label :schedule_id
    = f.select :schedule_id, @project.schedules.map{ |schedule| [schedule.name, schedule.id] }, {:prompt => t('views.ext.pregnancy_reminders._form.label.select_schedule')},:class => "w30" 

  .field
    = f.label  :channel_id
    = f.select :channel_id, Channel.all.map{ |channel| [channel.name, channel.id] }, {:prompt => t('views.ext.pregnancy_reminders._form.label.select_channel')}, :class => "w30"

  .field 
    = f.label :timezone 
    = f.select :timezone, time_zone_options_for_select(@reminder.timezone), :class => 'w30'

  .field
    .el
      = yield(:start_calendar)

  .field
    = f.label :description, t('views.ext.pregnancy_reminders._form.label.description')
    = f.text_area :description, :class => 'w30 desc'

  .field
    = "#{t('views.ext.pregnancy_reminders._form.label.remind_patients_that_have_pregnant')}"
    %span.field-required *
    = f.text_field :week, :class => "ux-nstep w06"
    = "#{t('views.ext.pregnancy_reminders._form.label.weeks')}."

  %button.white{:type =>'submit'}= t('views.ext.pregnancy_reminders._form.action.save')
  = link_to t('views.ext.pregnancy_reminders._form.action.cancel'), ext_project_pregnancy_reminders_path(@project), :class => 'cancel'