= render 'shared/project_tabs_and_title', :project => @project

%h2= t('views.ext.pregnancy_reminders.index.title')
%p.desc= t('views.ext.pregnancy_reminders.index.desc')

%br

.tablewrapp.no-wrap.scroll
  %table.GralTable
    %tr
      %th= t('views.ext.pregnancy_reminders.index.label.reminder')
      %th{:colspan => 2}= t('views.ext.pregnancy_reminders.index.label.call_flow')

    - @project.ext_pregnancy_reminders.each do |record|
      %tr.link{'data-url' => edit_ext_project_pregnancy_reminder_path(@project, record)}
        %td
          .name= record.name
          .description= record.description
        %td
          = record.try(:call_flow).try(:name)
        %td= link_to '', ext_project_pregnancy_reminder_path(@project, record)  , :confirm => t('views.ext.pregnancy_reminders.index.action.confirm_delete'), :method => :delete, :class => 'button premove to_right'
%br

= link_to t('views.ext.pregnancy_reminders.index.action.new_pregnancy_reminder'), new_ext_project_pregnancy_reminder_path(@project), :class => 'cadd'
